@model Common.ViewModels.DashboardViewModel

<div class="col-lg-12 col-sm-12">
    <!-- 3 ô đầu vào 1 dòng các ô còn lại vào 1 dòng để căn center-->
    <div class="row justify-content-center">
        @if (Model.LitStatusSummary[0] != null)
        {
            @await Html.PartialAsync("_CardMachineStatus.cshtml", Model.LitStatusSummary[0])
        }
        @if (Model.LitStatusSummary[1] != null)
        {
            @await Html.PartialAsync("_CardMachineStatus.cshtml", Model.LitStatusSummary[1])
        }
    </div>
    <div class="row justify-content-center">
        @if (Model.LitStatusSummary[2] != null)
        {
            @await Html.PartialAsync("_CardMachineStatus.cshtml", Model.LitStatusSummary[2])
        }
        @if (Model.LitStatusSummary[3] != null)
        {
            @await Html.PartialAsync("_CardMachineStatus.cshtml", Model.LitStatusSummary[3])
        }
    </div>
    <div class="row justify-content-center">
        @if (Model.LitStatusSummary[4] != null)
        {
            @await Html.PartialAsync("_CardMachineStatus.cshtml", Model.LitStatusSummary[4])
        }
    </div>
    <div class="row justify-content-center">
        <img src="~/images/pages/layout2_footer.jpg" style="width:100%;" />
    </div>
</div>
