
<div class="card">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-sm-1">
                <img class="w-100 h-auto p-0 m-0" src="~/images/pages/tongthau.jpg" />
            </div>
        </div>
    </div>
</div>
