
<div class="col-lg-12 col-sm-12" id="report-error-machine">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label text-muted">Thời gian</label>
                        @Html.DropDownList("TimeRangeID", (List<SelectListItem>)ViewData["ListTimeRange"], htmlAttributes: new { @class = "form-control", @onchange = "filterData()" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label text-muted">Nhóm máy</label>
                        @Html.DropDownList("MachineGroupID", (List<SelectListItem>)ViewData["ListMachineGroup"], htmlAttributes: new { @class = "form-control", @onchange = "filterData()" })
                    </div>
                </div>
                @* <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label text-muted">Vị trí</label>
                        @Html.DropDownList("MachineLocationID", (List<SelectListItem>)ViewData["ListMachineLocation"], htmlAttributes: new { @class = "form-control", @onchange = "filterData()" })
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12 col-sm-12">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <!-- [card1] start-->
                    <div class="card card-machineinfo" name="errormachine-info">
                        <div class="card-body" style="position: relative;text-align:center">
                            <p class="wcom-card-title">Tổng số lỗi</p>
                            <p class="machineinfor-data" style="font-size:90px; color:#1d62c2;" id="cardErrorTotal">123</p>
                        </div>
                    </div>
                    <!-- [card1] end-->
                </div>
                <div class="col-lg-4 col-sm-12">
                    <!-- [card2] start-->
                    <div class="card card-machineinfo" name="errormachine-error">
                        <div class="card-body" style="position: relative;text-align:center">
                            <p class="wcom-card-title">Lỗi gặp nhiều nhất</p>
                            <p class="machineinfor-data" style="color:#c07f8a;" id="cardErrorMostOccus">Lỗi gặp nhiều nhấtLỗi gặp nhiều nhấtLỗi gặp nhiều nhất</p>
                        </div>
                    </div>
                    <!-- [card2] end-->
                </div>
                <div class="col-lg-4 col-sm-12">
                    <!-- [card3] start-->
                    <div class="card card-machineinfo" name="errormachine-warning">
                        <div class="card-body" style="position: relative;text-align:center">
                            <p class="wcom-card-title">Lỗi gặp ít nhất</p>
                            <p class="machineinfor-data" style="color:#dabe4d;" id="cardErrorLeastOccus">Lỗi gặp ít nhất Lỗi gặp ít nhất Lỗi gặp ít nhất</p>
                        </div>
                    </div>
                    <!-- [card3] end-->
                </div>
            </div>

            <!-- [Chart top 10 lỗi nhiều nhất] start -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="chartTop10ErrorOccured"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [Chart top 10 lỗi nhiều nhất] end -->
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header wcom-card-title">Danh sách lỗi</div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table id="gridListErrorMachine" class="table table-styling"
                               data-pagination="true"
                               data-page-list="[5, 10, 20, 50, 100, 200]"
                               data-show-footer="false">
                            <thead class="table-primary">
                                <tr>
                                    <th data-field="errorDate" data-align="center" data-sortable="true" data-formatter="dateFormat">Ngày</th>
                                    <th data-field="machineLocation" data-align="left" data-sortable="true">Vị trí</th>
                                    <th data-field="machineName" data-align="left" data-sortable="true">Thiết bị</th>
                                    <th data-field="machineGroupName" data-align="left" data-sortable="true">Nhóm máy</th>
                                    <th data-field="errorCode" data-align="left" data-sortable="true">Mã lỗi</th>
                                    <th data-field="errorName" data-align="left" data-sortable="true">Tên lỗi</th>
                                    <th data-field="note" data-align="right" data-sortable="true">Ghi chú</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        load_gridErrorList();
        load_GetErrorSummary();

        $('#TimeRangeID').select2({
            placeholder: 'Thời gian'
        });
        $('#MachineGroupID').select2({
            placeholder: 'Nhóm máy'
        });
        // $('#MachineLocationID').select2({
        //     placeholder: 'Vị trí'
        // });
    });

    function filterData() {
        load_GetErrorSummary();
        load_gridErrorList();
    }


    // Get 3 thông tin
    function load_GetErrorSummary() {
        var _TimeRange = $("#TimeRangeID").val();
        var _MachineGroup = $("#MachineGroupID").val();
        var _MachineLocation = '';// $("#MachineLocationID").val();

        $.ajax({
            url: "/ReportErrorMachine/GetErrorSummary",
            method: "POST",
            dataType: "json",
            data: { TimeRangeID: _TimeRange, MachineGroupID: _MachineGroup, MachineLocationID: _MachineLocation },
            async: true,
            beforeSend: function () { },
            success: function (result) {
                //debugger;
                if (result && result.success === true) {
                    $("#cardErrorTotal").text(result.data.errorTotal);
                    $("#cardErrorMostOccus").text(result.data.errorMostOccus);
                    $("#cardErrorLeastOccus").text(result.data.errorLeastOccus);


                    var chart_data = [];
                    var chart_categories = [];

                    result.data.tableTop10Error.forEach(item => {
                        chart_data.push(item.errorCount);
                        // chart_categories.push(item.errorCode);
                        chart_categories.push(item.errorName);
                    });

                    if (chartTop10Error === undefined) {
                        render_barChartTop10ErrorOccured(chart_categories, chart_data);
                    }
                    else {
                        chartTop10Error.updateSeries([{
                            data: chart_data,
                        }]);

                        // chartTop10Error.updateSeries([{
                        //     series: [{
                        //         data: chart_data,
                        //     }],
                        //     xaxis: {
                        //         categories: chart_categories,
                        //         labels: {
                        //             style: {
                        //                 //colors: colors,
                        //                 fontSize: '12px'
                        //             }
                        //         }
                        //     },
                        // }]);
                    }
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    var chartTop10Error = undefined;
    function render_barChartTop10ErrorOccured(categories, data) {
        if (categories === undefined)
            categories = ["M4", "M6", "E10", "C1", "B3", "C14", "C6", "A1", "C15"];
        if (data === undefined)
            data = [53, 15, 8, 21, 30, 7, 2, 11, 9];
        var colors = ["#7fb26d", "#e9b838", "#6fd0e1", "#ef843c", "#e14d41", "#2078c2", "#ba43a9", "#705d9f", "#cda301"];

        var options = {
            series: [{
                name: "Tổng số lỗi",
                data: data
            }],
            chart: {
                height: 350,
                type: 'bar',
                events: {
                    click: function (chart, w, e) {
                        // console.log(chart, w, e)
                    }
                }
            },
            colors: colors,
            plotOptions: {
                bar: {
                    columnWidth: '45%',
                    distributed: true,
                }
            },
            dataLabels: {
                enabled: false
            },
            legend: {
                // https://apexcharts.com/docs/options/legend/
                show: true,
                position: 'bottom'
            },
            xaxis: {
                categories: categories,
                labels: {
                    show: false,
                    style: {
                        colors: colors,
                        fontSize: '12px'
                    }
                }
            },
            title: {
                text: "Top 10 lỗi nhiều nhất",
                align: 'center',
                margin: 10,
                offsetX: 0,
                offsetY: 0,
                floating: false,
                style: {
                    fontSize: '16px',
                    fontWeight: 'normal',
                    fontFamily: undefined,
                    color: '#263238'
                },
            }
        };

        chartTop10Error = new ApexCharts(document.querySelector("#chartTop10ErrorOccured"), options);
        chartTop10Error.render();
    }


    function load_gridErrorList() {
        var _TimeRange = $("#TimeRangeID").val();
        var _MachineGroup = $("#MachineGroupID").val();
        var _MachineLocation = $("#MachineLocationID").val();


        $.ajax({
            url: "/ReportErrorMachine/GetErrorList",
            method: "POST",
            dataType: "json",
            data: { TimeRangeID: _TimeRange, MachineGroupID: _MachineGroup, MachineLocationID: _MachineLocation },
            async: true,
            beforeSend: function () { },
            success: function (result) {
                // Table structure: Ngày | Vị trí | Thiết bị | Nhóm máy | Mã lỗi | Tên lỗi | Ghi chú
                $("#gridListErrorMachine").bootstrapTable({
                    data: result,
                    formatLoadingMessage: function () {
                        return '<b>Loading ...</b>';
                    }
                });

                $('#gridListErrorMachine').bootstrapTable('load', result);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function dateFormat(value, row, index) {
        var _format = 'DD/MM/YYYY hh:mm:ss';
        //let _format = "";
        return moment(value).format(_format);
    }
</script>